  <% layout("/layouts/boilerplate") %>
<body>
     <div class="row">
        <div class="col-8 offset-2">
     <h3> Create a new  listing </h3>
    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required><br>
        <div class="valid-feedback">Title Looks good </div>        
        </div>
       <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea><br>
        <div class="invalid-feedback">Please enter a short description </div>  
        </div>
        
        <div>
            <label for="image" class="form-label"> Upload Image</label>
            <input name="listing[image]"  type="file" class="form-control" required><br>
        </div>
        <div>
            <label for="price" class="form-label" >Price</label>
        <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required><br>
        <div class="invalid-feedback">Price should be valid </div> 
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="enter location " type="text" class="form-control" required > <br>
        <div class="invalid-feedback">Location should be valid </div>        
         </div>
        <div>
            <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required><br>
        <div class="invalid-feedback">Location should be valid </div> 
         </div>
        <button class="btn btn-primary">Add</button>
    </form>
     </div>
    </div>
</body>
